html,
body {
  height: 100%;
  cursor: var(--mouse-cursor-light), auto;
}

body {
  background-image: var(--main-bg-image-light);
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: top left;
}

@media only screen and (min-width: 1367px) {
  .snap-parent {
    scroll-snap-type: x proximity;
  }

  .snap-child {
    scroll-snap-align: center;
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;
}

