// Custom css variables
:root {
  --font-family-light: Avenir, Helvetica, Arial, sans-serif;
  --font-color-light: #2c3e50;
  --font-color-h1-light: #e6e6e6;

  --main-bg-image-light: url('../assets/background.png');
  --mouse-cursor-up-light: url('../assets/cursor_up.cur');
  --mouse-cursor-light: url('../assets/cursor.cur');

  --planet-bg-header-light: #ffffff;
  --planet-bg-content-light: #000000;

  --planet-data-field-name-light: #368db0;
  --planet-data-field-value-light: #505b67;
  --planet-data-field-border-light: rgba(54, 141, 176, 0.3);
}
