// Custom css variables
:root {
  --font-family-light: Avenir, Helvetica, Arial, sans-serif;
  --font-color-light: #2c3e50;
  --font-color-h1-light: #e6e6e6;

  --main-bg-image-light: url('../assets/background.png');

  --planet-bg-header-light: #ffffff;
  --planet-bg-content-light: #000000;


}
