<div #planet class="planet-card">

  <div class="planet-header">
    <img width="40" src="assets/stormtrooper-icon.svg">
    {{ (planet$ | async ).name }}
  </div>

  <div class="planet-content">
    <div class="planet-content-data">
      <app-data-field
        *ngFor="let field of dataFields"
        [field]="field"
        [value]="(planet$ | async)[field.field]">
      </app-data-field>
    </div>
    <div class="planet-content-image">
      <img src="assets/planet.png">
    </div>
  </div>
</div>
