.planet-card {
  box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 0.2);
  margin-left: 20%;
  margin-right: 20%;

  .planet-header {
    background-color: var(--planet-bg-header-light);
    font-weight: 800;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }

  .planet-content {
    background-color: var(--planet-bg-content-light);
    color: white;

    display: flex;

    .planet-content-data {
      padding: 1rem;
    }

    .planet-content-image {
      img {
        width: 550px;
      }
    }

  }
}
