:host {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.planet-card {
  box-shadow: 1px 1px 3px 3px rgba(255, 255, 255, 0.2);

  .planet-header {
    background-color: var(--planet-bg-header-light);
    font-weight: 800;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }

  .planet-content {
    background-color: var(--planet-bg-content-light);
    display: flex;
    padding: 30px;

    .planet-content-data {
      padding: 1rem;
      flex: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .planet-content-image {
      flex: 65%;
      img {
        max-width: 550px;
        width: 100%;
        height: auto;
      }
    }

  }
}
